
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
AzureDevOps.WikiPdfExport.Test/Tests/Azure-Platform-Design/
AzureDevOps.WikiPdfExport/.local-chromium/
tests/*
AzureDevOps.WikiPdfExport.Test/Tests/1k/*
AzureDevOps.WikiPdfExport/.html
AzureDevOps.WikiPdfExport/export.pdf
**/.local-chromium
AzureDevOps.WikiPdfExport.Test/Tests/example-footer.html
AzureDevOps.WikiPdfExport.Test/Tests/example-header.html
output/*
/AzureDevOps.WikiPdfExport/Properties/launchSettings.json
AzureDevOps.WikiPdfExport.Test/IntegrationTests-Data/Outputs
AzureDevOps.WikiPdfExport.Test/test-data/Inputs/Azure-Platform-Design/*
AzureDevOps.WikiPdfExport.Test/test-data/Inputs/1k/html.html
