/* this style guide will mimic the behaviour of various markdown as in Azure Dev Ops */
body, html {
    color: #191919;
    word-wrap: break-word;
    font-family: "Segoe UI Emoji", Tahoma, Geneva, Verdana, sans-serif;
    font-size: .9375rem
}

html >*:first-child {
    margin-top: 0
}

html >*:last-child {
    margin-bottom: 0
}

 a {
    color: #005a9e;
    text-decoration: none;
    outline: transparent
}

 a:hover {
    color: #004578;
}

 p,
 blockquote,
 ul,
 ol,
 table,
 pre {
    margin: 0 0 16px 0
}

 table {
    border-collapse: collapse;
    border-spacing: 0;
    color: #191919;
    cursor: default;
    display: block;
    overflow-x: auto;
    font-size: .9375rem;
}

 table table {
    margin-bottom: 0
}

 table th {
    color: #737373;
    font-size: .9375rem;
    font-weight: 600;
    text-align: left;
    border: 1px solid #eaeaea;
    padding: 13px 11px
}

 table td {
    border: 1px solid #eaeaea;
    text-align: left;
    padding: 10px 13px;
    min-width: 50px;
    max-width: 1000px
}

 code {
    font-family: Menlo, Consolas, Courier New, monospace;
    font-size: .75rem;
    background-color: #f0f0f0;
    color: #191919;
    padding: 2px 4px;
    border-radius: 2px
}

 hr {
    border: 1px solid #eaeaea;
}

 pre {
    font-size: .75rem;
    white-space: pre;
    word-wrap: normal;
    background-color: #f0f0f0;
    border-radius: 2px;
    padding: 15px;
    overflow-x: auto
}

 pre code {
    font-size: inherit;
    background-color: transparent;
    padding: 0
}

 blockquote {
    color: #4d4d4d;
    border-left: 2px solid #eaeaea;
    padding-left: 16px
}

 blockquote>*:first-child {
    margin-top: 0
}

 blockquote>*:last-child {
    margin-bottom: 0
}

 blockquote>p,
 blockquote ol,
 blockquote ul {
    margin: 16px 0
}

 img {
    max-width: 100%
}

 ul,
 ol {
    padding-left: 32px
}

 ul ul,
 ul ol,
 ol ul,
 ol ol {
    margin-top: 0;
    margin-bottom: 0
}

 li {
    list-style: inherit
}

 li+li {
    margin-top: 4px
}

 h1 {
    font-size: 1.3125rem;
    font-weight: 600;
    color: #191919;
    margin: 24px 0 8px 0;
    letter-spacing: -.04em
}

 h1 .bowtie-icon {
    font-size: unset
}

 h1:first-child {
    margin-top: 0
}

 h2 {
    font-size: 1.0625rem;
    font-weight: 600;
    color: #191919;
    margin: 24px 0 8px 0
}

 h2 .bowtie-icon {
    font-size: unset
}

 h3 {
    font-size: .9375rem;
    font-weight: 600;
    color: #191919;
    margin: 24px 0 8px 0
}

 h3 .bowtie-icon {
    font-size: unset
}

 h4 {
    font-size: .875rem;
    font-weight: 600;
    color: #191919;
    margin: 24px 0 8px 0
}

 h4 .bowtie-icon {
    font-size: unset
}

 h5 {
    font-size: .75rem;
    font-weight: 600;
    color: #191919;
    margin: 24px 0 8px 0
}

 h5 .bowtie-icon {
    font-size: unset
}

 h6 {
    font-size: .75rem;
    font-weight: 600;
    color: #737373;
    margin: 24px 0 8px 0
}

 h6 .bowtie-icon {
    font-size: unset
}

.bolt-focus-visible  a:focus {
    outline: #666666 solid 1px;
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    color: #191919;
    -webkit-text-size-adjust: none
}

.markdown-preview-container {
    margin: 20px
}

table.metadata-yaml-table {
    font-size: .75rem;
    line-height: 1
}

.toc-container {
    border: 1px solid;
    border-color: #eaeaea;
    border-radius: 4px;
    display: inline-block;
    padding: 10px 16px 10px 0;
    margin-bottom: 14px;
    min-width: 250px
}

.toc-container .toc-container-header {
    font-weight: 600;
    margin: 0 16px 5px 16px
}

.toc-container ul {
    list-style: none;
    margin: 0;
    padding-left: 16px;
    color: #005a9e;
}

.toc-container ul li {
    margin-top: 4px;
    margin-bottom: 0
}

.toc-container li::before {
    content: "\2022 "
}

.toc-container a {
    margin-left: 5px;
    display: inline-block;
    vertical-align: top;
    width: auto;
    max-width: 400px;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal
}

.task-list input.task-list-item-checkbox {
    vertical-align: middle;
    margin: 4px;
    float: none
}

ul li.task-list-item {
    list-style-type: none
}

ul.task-list {
    padding-left: 7px
}

li.task-list-item {
    min-height: 18px
}

/* additional styling */

div.is-note table {
    background-color: #E2DAF1; /* hsl(262deg 46% 90%); */
    border-radius:6px;
    -moz-border-radius:6px;
    border: none;
    font-size: inherit;
}
div.is-tip table {
    background-color: #D2F9D2; /* hsl(120deg 77% 90%); */
    border-radius:6px;
    -moz-border-radius:6px;
    border: none;
    font-size: inherit;
}
div.is-important table {
    background-color:  #E0F2FF; /*hsl(205deg 100% 94%); */
    border-radius:6px;
    -moz-border-radius:6px;
    border: none;
    font-size: inherit;
}
div.is-caution table {
    background-color: #FFDACC; /* hsl(16deg 100% 90%); */
    border-radius:6px;
    -moz-border-radius:6px;
    border: none;
    font-size: inherit;
}
div.is-warning table {
    background-color: #FFF1CC; /* hsl(44deg 100% 90%); */
    border-radius:6px;
    -moz-border-radius:6px;
    border: none;
    font-size: inherit;
}
div.is-note th, div.is-note td,div.is-tip th, div.is-tip td,
div.is-important th,div.is-important td,div.is-caution th,
div.is-caution td,div.is-warning th, div.is-warning td {
    border: none;
}


